[submodule "scripts"]
	path = scripts
	url = https://github.com/DhrishP/Scripts
[submodule "extensions"]
	path = extensions
	url = https://github.com/DhrishP/extensions

[submodule "botss"]
	path = botss
	url = https://github.com/DhrishP/bots
